<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="maincontainer">
      <h1>To Do List</h1>
      <h1><%= todayDay %></h1>
      <div class="container">
        <form action="/add" method="POST">
          <input type="text" name="task" placeholder="Add a task" />
          <button type="submit" id="mybutton">Add</button>
        </form>
        <ul>
          <% tasklist.forEach(task => { %>
          <li>
            <label>
              <input type="checkbox" name="taskToDelete" class="strikethrough" value="1">
              <span> <%= task %> </span>
           </label>
            
            
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
